include ../partials/sidemenu
link(rel='stylesheet', href='../stylesheet/admin/dashboard.css')
link(rel='stylesheet', href='../../../stylesheet/admin/sidemenu.css')
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
link(rel="stylesheet", href="../../../stylesheet/admin/category.css")

#content-wrapper
  .container
    .breadcrumb
      a(href='#') Dashboard
      |  &gt;
      a(href='#') Categories
      |  &gt;
      span Add Category

    .main-content.row
      .col-md-6
        .thumbnail
          label(for='upload')
          input(type='file' id='file-input' name='image')
          #image-container(style='height:90px; display:flex; ')
            .removeImg remove
            img#catImg(src=`${category.image.substring(2)}`)

      .col-md-6
        .general-info
          label Category Name
          input#cName(type='text' name='name' value=`${category.name}` required)
          span#nameError
          label Description
          textarea#dName(type='text' name='description' placeholder=`${category.description}` value=`${category.description}` required)
          input#catId(type="hidden" value=category._id)
          span#descriptionError

    .subcategories
      label.text-white Subcategories:
      #subcategory-list
        each subcategory in subcategories
          if subcategory.category.id == category.id
            .subcategory-item#subItem
              input(type='text', name='subcategories[]', value=`${subcategory.name}`, required='')
              button.remove-subcategory(type='button', onclick=`removeSubcategory(this.value)` value=subcategory.id) Remove
      button.add-subcategory(type='button', onclick='addSubcategory()') Add Subcategory
      span#subcategoryError

    .buttons
      button.btn.btn-secondary.cancel Cancel
      button.btn.btn-primary.add-category Save Changes
    #error
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
script( src="../../../script/admin/editCategory.js")
script( src="../../../script/admin/editCatVal.js")
script(src="../../../script/admin/subCat.js")
script(src="../../../script/toast.js")
script.
  const subcategoryList = document.getElementById("subItem");
  const addSubcategoryButton = document.querySelector(".add-subcategory");

  addSubcategoryButton.addEventListener("click", () => {
  const newSubcategoryItem = document.createElement("div");
  newSubcategoryItem.classList.add("subcategory-item");
  newSubcategoryItem.innerHTML = `
    <input type='text' name='subcategories[]' placeholder='Enter subcategory name'>
    <button type='button' class='remove-subcategory'>Remove</button> 
  `;
  subcategoryList.appendChild(newSubcategoryItem);

  // Add event listener to the new "Remove" button
  newSubcategoryItem
    .querySelector(".remove-subcategory")
    .addEventListener("click", () => {
      subcategoryList.removeChild(newSubcategoryItem);
    });
  });

