include ../partials/sidemenu
include ../partials/mixins
+resources("couponList")
#content-wrapper
  .container-fluid#containerFluid
    .container-fluid#containerFluid
      section.dashboard-overview
        h2 Overview
        .metric-grid
          .metric-card
            i.fas.fa-book(aria-hidden="true") 
            .metric-data
              h2#totalProductsCount
              h3  #{totalCount} 
              p    Total Coupons
               
          .metric-card
            i.fas.fa-list-alt(aria-hidden="true")
            .metric-data
              h2#totalCategoriesCount
              h3  #{activeCount} 
              p  Active Coupons

    h1.text-center.text-light.my-5 #{name}
    a#createProduct.btn.btn-primary.mb-3(href="/admin/coupons/create") Create Coupons
    table#my-table
      thead#contentThead
        tr#contentTheadTr
          th Coupon Code
          th Discount Value
          th Validity Period
          th Max Amount
          th Status
          th List/Unlist
          th Action
      tbody#contentTbody
        if coupons
          each coupon in coupons
            tr#contentTbodyTr
              td= coupon.code
              td= coupon.discount
              td= formatDate(coupon.expiry)
              td= coupon.maxAmt
              td#status.status #{coupon.status ? 'Active' : 'Unlisted'}
              td
                .toggle-button-cover
                  .button-cover
                    #button-2.button.r
                      input#checkbox.checkbox(type="checkbox" data-status=coupon.status data-id=coupon.id)
                      .knobs
                      .layer
              td#ed
                a.btn.btn-sm.text-warning(href=`/admin/coupons/${coupon._id}/edit` style="width:5rem;") Edit
                | &nbsp;
                input#productId(type='hidden' value=`${coupon._id}`)
      //.pagination
      //ol#numbers
 


  script.
      var navSearchInput = document.getElementById("adminSearch");
      navSearchInput.addEventListener("input", function() {
          let searchValue=navSearchInput.value;
          getSearchCategory(searchValue)
          });

    const items = document.querySelectorAll('input[data-id]');

    items.forEach(item => {
        item.addEventListener('change', (e) => {
            let id =e.target.dataset.id;
            console.log(id)
            couponStatus(id)
            });
        });


    async function couponStatus(id) {
      try {
        const response = await axios.patch(`/admin/coupons/${id}/edit?change=true`, {});

        if (response.data.success) {
          window.toast.success('Coupon status changed');
          window.location.reload(false)
        }
      } catch (error) {
        console.error("Error:", error);
        window.toast.success(error);
        // Handle errors as needed
      }
    }


    const switchInputs = document.querySelectorAll('.checkbox');
    const statuses = document.querySelectorAll('.status');
    switchInputs.forEach((switchInput, index) => {
        statuses[index].innerText === 'Unlisted'?statuses[index].style.color="#912727":statuses[index].style.color="green"
        switchInput.checked =(statuses[index].innerText === 'Unlisted')?true:false
        })


