doctype html
include ../partials/mixins.pug 
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Your Page Title
    +resources("offerEdit")
    .container-fluid.form-container#form-container.mt-5
      h1.text-center.mb-4.text-white Edit Offer
      form#offerEditForm(data-offer-id=offer._id)
        .mb-3
          label.form-label(for='name') Offer Name
          input#name.form-control(type='text', name='name' value=offer.name )
          div#nameError.text-danger 
        .mb-3
          label.form-label(for='description') Description
          input#description.form-control(type='text', name='description' value=offer.description)
          div#descriptionError.text-danger 
        .mb-3
          label.form-label(for='discountPercentage') Discount Percentage
          input#discountPercentage.form-control(type='text', name='discountPercentage' value=offer.discountPercentage)
          div#discountPercentageError.text-danger 
        .mb-3
          label.form-label(for='startDate') Start Date
          input#startDate.form-control(type='date', name='startDate' value=offer.startDate.toISOString().substr(0, 10))
          div#startDateError.text-danger 
        .mb-3
          label.form-label(for='endDate') End Date
          input#endDate.form-control(type='date', name='endDate' value=offer.endDate.toISOString().substr(0, 10))
          div#endDateError.text-danger 
        .mb-3
          label.form-label(for='maxAmt') Maximum Amount
          input#maxAmt.form-control(type='text', name='maxAmt' value=offer.maxAmt)
          div#maxAmtError.text-danger 
        .mb-3
          label.form-label(for='minAmt') Minimum Amount
          input#minAmt.form-control(type='text', name='minAmt' value=offer.minAmt)
          div#minAmtError.text-danger 
        .mb-3
          button.btn.btn-primary(type='submit') Save Changes
      //- Bootstrap JS (optional if you need JavaScript features from Bootstrap)
