include ../partials/sidemenu
#content-wrapper
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
  //- link(rel="stylesheet", href="../../stylesheet/admin/table.css")
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' defer)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'  defer)
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'  defer)
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns", crossorigin="anonymous" defer)
  //- script(defer src="../../script/admin/panel.js") 
  script(src='https://cdn.jsdelivr.net/npm/toastify-js' defer)
  script(src='https://unpkg.com/htmx.org@2.0.0', integrity='sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw', crossorigin='anonymous' defer)   link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' defer)   
  script( src='../script/confirmationModal.js' defer)
  script(src='../script/toast.js' defer)
  script(src='../../script/admin/Chart.js/Chart.min.js' defer)
  script(src='../../script/admin/index.js' defer)
  style.
    .card{
      color:grey;
      }
    .dropdown-menu {
      color:white;
      background:linear-gradient(50deg, #185540, #0a1e16);
      }
    .dropdown-item:hover,.dropdown-menu:hover {
      background:#18513a59;
      color:white;
      }
    .dropdown-item{
      color:white;
      }
    select,option{
      background:linear-gradient(50deg, #185540, #0a1e16);
      color:white;
      border-radius:22px;
      height:32px;
      padding-left:5px;
      }
    select:hover,option:hover{
      background:#18513a59;
      }
    
  .container-fluid#containerFluid
    .card.mt-3
      .card-content
        .row.row-group.m-0#tempRow
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalOrders} 
                span.float-right
                  i.fa.fa-shopping-cart
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Total Orders 
                span.float-right
                  | +4.2% 
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalRevenue} 
                span.float-right
                  i.fa.fa-usd
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | #{totalOrders }
                span.float-right
                  | +1.2% 
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalUsers} 
                span.float-right
                  i.fa.fa-eye
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Users 
                span.float-right
                  | +5.2% 
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalProducts} 
                span.float-right
                  i.fa.fa-envira
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Products 
                span.float-right
                  | +2.2% 
                  i.zmdi.zmdi-long-arrow-up
    .row#tempRow
      .col-12.col-lg-8.col-xl-8
        .card
          .card-header
            | Sales 
            .card-action.d-flex
              select#dataSelect
                option(selected) Yearly
                option Monthly
                option Weekly
                option select Date
          .card-body
            ul.list-inline
              li.list-inline-item
                i.fa.fa-circle.mr-2.text-light
                | No of sales
              li.list-inline-item
                input.me-1#changeType.mr-2.text-light(type='checkbox')
                | ChangeType
            .chart-container-1
              canvas#chart1
          .row#tempRow.m-0.row-group.text-center.border-top.border-light-3
            .col-12.col-lg-4
              .p-3
                h5.mb-0 $#{totalRevenue} 
                small.mb-0
                  | Total Revenue 
                  //span
                    i.fa.fa-arrow-up
                    |  2.43%
            .col-12.col-lg-4
              .p-3
                h5.mb-0#totalOrders #{totalOrders} 
                small.mb-0
                  | Total orders 
                  //span
                    i.fa.fa-arrow-up
                    |  12.65%
            .col-12.col-lg-4
              .p-3
                h5.mb-0#monthlyEarning 245.65
                small.mb-0
                  | This Months Earning 
                  //span
                    i.fa.fa-arrow-up
                    |  5.62%
      .col-12.col-lg-4.col-xl-4
        .card
          .card-header
            | Best Selling
            .card-action
              select#bestSelling
                option Products
                option(value='Category') Category
                option Subcategory
          .card-body
            .chart-container-2
              canvas#chart2
          .table-responsive
            table.table.align-items-center
              tbody#bestSellingSubcategories
    //- // End Row
    .row#tempRow
      .col-12.col-lg-12
        .card
          .card-header
            | Recent Order Tables
            #dataContainer
            .card-action
              .dropdown
                a.dropdown-toggle.dropdown-toggle-nocaret(href='javascript:void();' data-toggle='dropdown')
                  i.icon-options
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href='javascript:void();') Action
                  a.dropdown-item(href='javascript:void();') Another action
                  a.dropdown-item(href='javascript:void();') Something else here
                  .dropdown-divider
                  a.dropdown-item(href='javascript:void();') Separated link
          .table-container
            table.table.table-borderless
              thead
                tr
                  th Id
                  th Photo
                  th Product ID
                  th Amount
                  th Date
                  th Shipping
              tbody
                each product in order
                  tr
                    td #{order._id}
                    td #{order.user}
                    td #{order.totalAmount}
                    td= formatDate(order.created_at)
    //- // End Row
    //- // End Dashboard Content
    //- // start overlay
    .overlay.toggle-menu
//-     // end overlay
//-     // End container-fluid
//- // End content-wrapper
//- // Start Back To Top Button
a.back-to-top(href='javaScript:void();')
  i.fa.fa-angle-double-up
//- // End Back To Top Button
//- // Start footer
