include ../partials/sidemenu
include ../partials/mixins
+resources("panel")
#content-wrapper
  .container-fluid#containerFluid
    .card.mt-3
      .card-content
        .row.row-group.m-0#tempRow
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalOrders || 0} 
                span.float-right
                  i.fa.fa-shopping-cart
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Total Orders  
                span.float-right
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalRevenue || 0} 
                span.float-right
                  i.fa.fa-usd
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | #{totalOrders || 0}
                span.float-right
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalUsers || 0} 
                span.float-right
                  i.fa.fa-eye
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Users 
                span.float-right
                  i.zmdi.zmdi-long-arrow-up
          .col-12.col-lg-6.col-xl-3.border-light
            .card-body
              h5.text-white.mb-0
                | #{totalProducts || 0} 
                span.float-right
                  i.fa.fa-envira
              .progress.my-3(style='height:3px;')
                .progress-bar(style='width:55%')
              p.mb-0.text-white.small-font
                | Products 
                span.float-right
                  i.zmdi.zmdi-long-arrow-up
    .row#tempRow
      .col-12.col-lg-8.col-xl-8
        .card
          .card-header
            | Sales 
            .card-action.d-flex
              select#dataSelect
                option(selected) Yearly
                option Monthly
                //option Weekly
                option daily
                option Custom Date Range
              .form-group#date-range-group(style="display: none;")
                label(for='startDate') Start Date
                input(type='date', id='startDate', name='startDate')
                label(for='endDate') End Date
                input(type='date', id='endDate', name='endDate')
                li.fa.fa-search#applyDateRange
          .card-body
            ul.list-inline
              li.list-inline-item
                i.fa.fa-circle.mr-2.text-light
                | No of sales
              li.list-inline-item
                input.me-1#changeType.mr-2.text-light(type='checkbox')
                | ChangeType
            .chart-container-1
              canvas#chart1
          .row#tempRow.m-0.row-group.text-center.border-top.border-light-3
            .col-12.col-lg-4
              .p-3
                h5.mb-0 $#{totalRevenue} 
                small.mb-0
                  | Total Revenue 
                  //span
                    i.fa.fa-arrow-up
                    |  2.43%
            .col-12.col-lg-4
              .p-3
                h5.mb-0#totalOrders #{totalOrders} 
                small.mb-0
                  | Total orders 
                  //span
                    i.fa.fa-arrow-up
                    |  12.65%
            .col-12.col-lg-4
              .p-3
                h5.mb-0#monthlyEarning 245.65
                small.mb-0
                  | This Months Earning 
                  //span
                    i.fa.fa-arrow-up
                    |  5.62%
      .col-12.col-lg-4.col-xl-4
        .card
          .card-header
            | Best Selling
            .card-action
              select#bestSelling
                option Products
                option(value='Category') Category
                option Subcategory
          .card-body
            .chart-container-2
              style.
                .product-name{
                height:fixed;
                  }

              canvas#chart2

            .paginationChart
              if currentChart > 1
                a.pagination-chart-link.bi.bi-arrow-left(href=`/admin?Chart2=${currentChart - 1}`) aa
              span Page #{currentChart} of #{totalChart}
              if currentChart < totalChart
                a.pagination-chart-link.bi.bi-arrow-right(href=`/admin?chart2=${currentChart + 1}`) bb
          .table-responsive
            table.table.align-items-center
              tbody#bestSellingSubcategories
    //- // End Row
    .row#tempRow
      .col-12.col-lg-12
        .card
          .card-header
            | Recent Order Tables
            #dataContainer
            .card-action
              .dropdown
                a.dropdown-toggle.dropdown-toggle-nocaret(href='javascript:void();' data-toggle='dropdown')
                  i.icon-options
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href='javascript:void();') Action
                  a.dropdown-item(href='javascript:void();') Another action
                  a.dropdown-item(href='javascript:void();') Something else here
                  .dropdown-divider
                  a.dropdown-item(href='javascript:void();') Separated link
          .table-container
            table.table.table-borderless
              thead
                tr
                  th Id
                  th orderd At
                  th user
                  th items
                  th total Amount
                  th Shipping
                  th Action
              if order.length > 0
                tbody#recentOrdersTable
                  each product in order
                    tr
                      td #{product._id}
                      td 
                        small #{formatDate(product.created_at)}
                      td #{product.user.name}
                      td
                        if product.items.length < 2
                          = product.items[0].name
                          | (#{product.items[0].quantity} nos)
                        else if product.items.length == 2
                          | #{product.items[0].name} (#{product.items[0].quantity} nos),
                          | #{product.items[1].name } (#{product.items[0].quantity} nos)
                        else
                          | #{product.items[0].name} (#{product.items[0].quantity} nos), #{product.items[1].name} (#{product.items[0].quantity} nos)
                          - let len = product.items.length - 2
                          |  and #{len} more.. 
                      td #{product.totalAmount}
                      td #{product.status} 
              else
                p No Orders yet
        #loadMoreBtn
        .pagination
          if currentPage > 1
            a.pagination-link(href=`/admin?page=${currentPage - 1}`) Previous
          span Page #{currentPage} of #{totalPages}
          if currentPage < totalPages
            a.pagination-link(href=`/admin?page=${currentPage + 1}`) Next
style.
  .card{
    color:grey;
    }
  .dropdown-menu {
    color:white;
    background:linear-gradient(50deg, #185540, #0a1e16);
    }
  .dropdown-item:hover,.dropdown-menu:hover {
    background:#18513a59;
    color:white;
    }
  .dropdown-item{
    color:white;
    }
  select,option,#date-range-group input{
    background:linear-gradient(50deg, #185540, #0a1e16);
    background:linear-gradient(137deg, #034d33, #475751);
    color:white;
    border-radius:22px;
    height:32px;
    padding-left:5px;
    }
  select:hover,option:hover{
    background:#18513a59;
    }
  .table-container{
    width:inherit:
    }

  .pagination {
    margin-top: 20px;
    text-align: center;
  }

  .pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 5px;
  }

  .pagination a:hover {
    background-color: #ddd;
  }

  .pagination span {
    display: inline-block;
    padding: 8px 16px;
  }
