include ../partials/sidemenu
#content-wrapper
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH00kS58PrEW3hmvZFEMg9Supu4T9jwmg/UplcUJOua9e+06TIzrkOnQ", crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns", crossorigin="anonymous")
  link(rel="stylesheet", href="../../stylesheet/admin/userList.css")
  .container-fluid#containerFluid
    section.dashboard-overview
      h2 Overview
      .metric-grid
        .metric-card
          i.fas.fa-users(aria-hidden="true") 
          .metric-data
            h2#totalProductsCount
            h3= userCount 
            p Total Users
        .metric-card
          i.fas.fa-user-slash(aria-hidden="true")
          .metric-data
            h3= blockCount  
            p Blocked
    h1.text-center.text-light.my-5 
    table#my-table
      thead#contentThead
        tr#contentTheadTr
          th(scope="col") Name
          th(scope="col") Email
          th(scope="col") Role
          th(scope="col") Status
          th(scope="col") Actions
      tbody#contentTbody
        each user in users
          tr#contentTbodyTr(data-user-id=user.id data-is-current-admin=user.email === currentAdminEmail ? 'true' : 'false')
            td= user.name
            td= user.email
            td= user.role
            td.status(id=`status-${user.id}` data-status=user.status)= user.status ? 'Active' : 'Blocked'
            td
              .toggle-button-cover
                .button-cover
                  #button-2.button.r
                    input.checkbox(
                      id=`checkbox-${user.id}`
                      type='checkbox'
                      checked=user.status
                      data-user-id=user.id
                    )
                    .knobs
                    .layer

    span#errorMessage
    .pagination
      ol#numbers
 
  script(src='../../../script/admin/deleteUser.js')
  script(src="../../script/admin/pagination.js")
  script(src="../../script/admin/adminSearch.js")
  script.
