.cardCol.col-md-4.col-sm-12.mb-5
  #productCard.card.text-white(onclick="PDP()" disabled)
    if product.stockCount<0 || !product.status
      .card-img-overlay(style='background-color: rgba(0, 0, 0, 0.733); border-radius: 30.75px;')
        .out-of-stock-overlay Sorry, this product is out of stock.
    a.add-to-wishlist-btn(href=`` data-product-id=`${product._id}` style="text-align: right; margin-top:26.67px; margin-right:25.3px ")
      i.fa-sharp.fa-solid.fa-heart.fa-2xl#wishlistIcon(style=" color:#fff;")
    img.card-image(onclick=`window.location.href='/products/${product._id}'` src=product.image[0] || 'default-image.jpg',href=`/products/${product._id}`, alt='Product Image', style='width:177.734px ; height: 272.906px; margin-top: 84.56px; margin-left: auto; margin-right: auto; display: block;')
    h5.mx-5.mt-3.card-title(style="color:lightblue; ") #{product.name}
    //- Assuming product is a variable in your template
    p#productId(type="hidden", value=product.id)
    p.author.mx-5 #{product.author}
    p.card-price.mx-5 $#{product.price} ththet 
    //ul
      each spec in product.specifications
        li.mx-4= `${spec.name}: ${spec.value}`
    form(action=`/cart/add`, method="POST")
      input(type="hidden", name="productId", value=product.id)
      input( type="hidden", name="image", value=product.image[0])
      input(type="hidden", name="name", value=product.name)
      input(type="hidden", name="productPrice", value=product.price)
      input(type="hidden", name="description", value=product.description)
      //- input(type="hidden", name="category", value=product.category.name)
      input(type="hidden", name="quantity", value=1)
      if user
        input(type="hidden", name="user" value=`${user.id}`)
        input(type="hidden", name="userDetails" value=`${user}`)
      //- button#addToCart.ms-3(type="submit")
      button.card-button.ms-3(type='submit' style="color:#b4ffff;" ) Add to Cart
       svg.icon.icon-tabler.icon-tabler-arrow-narrow-right(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='#b4ffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
        path(stroke='none' d='M0 0h24v24H0z' fill='none')
        path(d='M5 12l14 0')
        path(d='M15 16l4 -4')
        path(d='M15 8l4 4')
style.
  .out-of-stock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //- background-color: rgba(0, 0, 0, 0.5);
  color:#912727;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top:40rem;
  }
  .card-price{
  color: gold; /* Gold text color */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold for emphasis */

  }
script.
  function PDP() {
  window.location.href = `/products/${product._id}`;
  }
  

          //- script.
