html
  head
    title #{product.name} - Your E-commerce Website
  body
    header
      h1 #{product.name}
    section.product
      img(src=product.image, alt=product.name)
      div.product-details
        h2 Price: $#{product.price}
        p Description: #{product.description}
        p Category: #{product.category}
        p Modularity: #{product.modularity}
        p Wattage: #{product.wattage}W
        // Add more product details as needed
      div.add-to-cart
        button Add to Cart
    // Add more sections or components as needed
    footer
      p Copyright © 2024 Your Company
