//- include ../navbar
section.bg-primary
  .modal.fade#productModal(tabindex="-1", role="dialog", aria-labelledby="productModalLabel", aria-hidden="true")
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5.modal-title#productModalLabel(style="font-weight: bold;") Product Details
        .modal-body
          .row
            .col-md-6
              .card.mb-3
                .card-body
                  img.img-fluid#productImage(src=`${product.image[0] || 'default-image.jpg'}`, alt="Product Image")
                  .btn-group.mt-3
                    button.btn.btn-primary.mr-3(type="button")
                      i.fas.fa-search-minus
                    button.btn.btn-primary(type="button")
                      i.fas.fa-search-plus
            .col-md-6
              .card.mb-3
                .card-body
                  h5.card-title= `Product Name: ${product.name}`
                  p.card-text= `Product Description: ${product.description}`
                  h5.card-title Specifications:
                  ul.list-group
                    each spec in product.specifications
                      li.list-group-item= `${spec.name}: ${spec.value}`
                  h5.card-title= `Modularity: ${product.modularity}`
                  h5.card-title= `Wattage: ${product.wattage}`
                  h5.card-title Price:
                  p.card-text= `$${product.price.toFixed(2)}`
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
