doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheet/product.css")
    link(rel="stylesheet", href="../stylesheet/navbar.css")

  body
    nav.one.container-fluid
      .navbar#navbar.nav.container-fluid.d-flex
        ul.container-fluid
          li
            a(href="https://www.fontspace.com/category/android")
              img(src="https://see.fontimg.com/api/renderfont4/044d/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjM0JCQ0UzIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/UXVhc2FyWCA/robot-reavers.png", alt="Android fonts", style="width: 246.262px; height: 36px; margin-left: 5rem;")
          li.dropdown
            a(href="/shop" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true")
              | Shop
            ul.dropdown-menu.dropdownUl
              span.dropD
                li.d-flex.align-items-center
                  span.cat-img
                    img(src="//www.roccat.com/cdn/shop/files/megamenu-technology_titan-switch-technology_200x.png?v=1671047986", alt="SFX Power Supplies")
                  a(href="/shop") All Products
                li.d-flex.align-items-center
                  span.cat-img
                    img(src="//www.roccat.com/cdn/shop/files/megamenu-technology_titan-switch-technology_200x.png?v=1671047986", alt="SFX Power Supplies")
                  a(href="#") Desktop Power Supplies (PSUs)
                li.d-flex.align-items-center
                  span.cat-img
                    img(src="//www.roccat.com/cdn/shop/files/megamenu-technology_titan-switch-technology_200x.png?v=1671047986", alt="ATX Power Supplies")
                  a(href="#") Server Power Supplies (PSUs) 
          li
            a(href="") About
          li
            a(href="") Contact
          li
            a(href="/auth/login") Login
          li
            a(href="/auth/signup") Signup
          li
            form
              input(type="search", placeholder="Search...")
              button(type="submit") Search
          div.d-flex.iconCont
            li
              a(href="")
                svg(width="44" height="44" viewBox="0 0 44 44" fill="none")
                  path(d="M15.151 10C11.4697 10 8.48438 12.9547 8.48438 16.6C8.48438 19.5427 9.65104 26.5267 21.135 33.5867C21.3408 33.7118 21.5769 33.778 21.8177 33.778C22.0585 33.778 22.2947 33.7118 22.5004 33.5867C33.9844 26.5267 35.151 19.5427 35.151 16.6C35.151 12.9547 32.1657 10 28.4844 10C24.803 10 21.8177 14 21.8177 14C21.8177 14 18.8324 10 15.151 10Z" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            li
              a(href="")
                svg(width="44" height="44" viewBox="0 0 44 44" fill="none")
                  path(d="M15.1497 36.6667C15.8861 36.6667 16.4831 36.0697 16.4831 35.3333C16.4831 34.597 15.8861 34 15.1497 34C14.4134 34 13.8164 34.597 13.8164 35.3333C13.8164 36.0697 14.4134 36.6667 15.1497 36.6667Z" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M33.8177 36.6667C34.5541 36.6667 35.151 36.0697 35.151 35.3333C35.151 34.597 34.5541 34 33.8177 34C33.0813 34 32.4844 34.597 32.4844 35.3333C32.4844 36.0697 33.0813 36.6667 33.8177 36.6667Z" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M4.48438 7.33398H9.81771L13.8177 30.0007H35.151" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M13.8171 22.89H34.6037C34.7579 22.8901 34.9074 22.8367 35.0266 22.739C35.1459 22.6413 35.2276 22.5053 35.2579 22.3541L37.6579 10.3541C37.6773 10.2574 37.6749 10.1575 37.651 10.0618C37.6271 9.96604 37.5822 9.8768 37.5196 9.8005C37.457 9.72421 37.3783 9.66275 37.2891 9.62058C37.1999 9.57841 37.1024 9.55657 37.0037 9.55664H11.1504" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            li
              a(href="")
                svg(width="44" height="44" viewBox="0 0 44 44" fill="none")
                  path(d="M32.4831 36.6667V33.1111C32.4831 31.2251 31.8463 29.4164 30.7127 28.0828C29.5791 26.7492 28.0417 26 26.4386 26H15.8609C14.2578 26 12.7203 26.7492 11.5868 28.0828C10.4532 29.4164 9.81641 31.2251 9.81641 33.1111V36.6667" fill="#858181")
                  path(d="M32.4831 36.6667V33.1111C32.4831 31.2251 31.8463 29.4164 30.7127 28.0828C29.5791 26.7492 28.0417 26 26.4386 26H15.8609C14.2578 26 12.7203 26.7492 11.5868 28.0828C10.4532 29.4164 9.81641 31.2251 9.81641 33.1111V36.6667" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M22.4844 19.334C25.7981 19.334 28.4844 16.6477 28.4844 13.334C28.4844 10.0203 25.7981 7.33398 22.4844 7.33398C19.1707 7.33398 16.4844 10.0203 16.4844 13.334C16.4844 16.6477 19.1707 19.334 22.4844 19.334Z" fill="#858181" stroke="#858181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    .twoItems
      .one
        .container#sidebarContainer
          #sidebarAccordion.sidebar(style=" background-color: #000; color: #fff;")
            .card
              .card-header#categoriesHeading
                h2.mb-0
                  button.btn.btn-link(type="button", data-toggle="collapse", data-target="#categoriesCollapse", aria-expanded="true", aria-controls="categoriesCollapse")
                    | CATEGORIES

              #categoriesCollapse.collapse.show(aria-labelledby="categoriesHeading", data-parent="#sidebarAccordion")
                .card-body
                  ul.list-unstyled
                    li All Products
                    li Desktop Power Supplies
                    li Server Power Supplies (PSUs)

            .card
              .card-header#modularHeading
                h2.mb-0
                  button.btn.btn-link(type="button", data-toggle="collapse", data-target="#modularCollapse", aria-expanded="false", aria-controls="modularCollapse")
                    | MODULAR

              #modularCollapse.collapse(aria-labelledby="modularHeading", data-parent="#sidebarAccordion")
                .card-body
                  ul.list-unstyled
                    li Fully (37)
                    li Semi (10)
                    li Fully Modular (4)


            .card
              .card-header#efficiencyHeading
                h2.mb-0
                  button.btn.btn-link(type="button", data-toggle="collapse", data-target="#efficiencyCollapse", aria-expanded="false", aria-controls="efficiencyCollapse")
                    | 80 PLUS EFFICIENCY

              #efficiencyCollapse.collapse(aria-labelledby="efficiencyHeading", data-parent="#sidebarAccordion")
                .card-body
                  ul.list-unstyled
                    li Gold (40)
                    li Bronze (18)
                    li Platinum (13)
                    li White ③

            .card
              .card-header#powerHeading
                h2.mb-0
                  button.btn.btn-link(type="button", data-toggle="collapse", data-target="#powerCollapse", aria-expanded="false", aria-controls="powerCollapse")
                    | CONTINUOUS POWER W

              #powerCollapse.collapse(aria-labelledby="powerHeading", data-parent="#sidebarAccordion")
                .card-body
                  ul.list-unstyled
                    li 750 Watts (16)
                    li 850 Watts (15)
                    li 650 Watts (12)
                    li 1000 Watts (10)
                    li 550 Watts (7)
      .two
        section.row.mt-4.px-5
          each product in products
            .cardCol.col-md-4.col-sm-12.mb-5
              .card(style="width: 410px; height: 752.094px; border-radius: 30.75px; opacity: 0.71; background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(155deg, #266958 3.82%, rgba(34, 44, 41, 0.20) 76.99%)") 
                a(href=`/products/${product._id}`)
                  .heart-icon(style="text-align: right; margin-top:26.67px;margin-right:25.3px;", href=`/products/${product._id}`)
                    svg(xmlns="http://www.w3.org/2000/svg", width="34", height="34", viewBox="0 0 34 34", fill="none")
                      a(href=`/products/${product._id}`) 
                      g(clip-path="url(#clip0_25_1073)")
                        path(d="M27.4152 17.4609L16.9985 27.7776L6.58185 17.4609C5.89478 16.7924 5.35358 15.9887 4.99234 15.1007C4.63109 14.2127 4.45763 13.2595 4.48288 12.3011C4.50812 11.3428 4.73152 10.4 5.13902 9.53225C5.54651 8.66447 6.12926 7.89047 6.85058 7.25898C7.5719 6.62748 8.41617 6.15218 9.3302 5.86301C10.2442 5.57383 11.2082 5.47704 12.1615 5.57873C13.1148 5.68042 14.0367 5.97839 14.8692 6.45388C15.7016 6.92936 16.4266 7.57206 16.9985 8.3415C17.5729 7.57765 18.2987 6.94056 19.1306 6.47012C19.9625 5.99968 20.8825 5.70602 21.8331 5.60751C22.7838 5.50899 23.7445 5.60775 24.6551 5.89761C25.5658 6.18746 26.4069 6.66216 27.1257 7.29201C27.8445 7.92186 28.4255 8.69329 28.8324 9.55802C29.2394 10.4228 29.4634 11.3622 29.4906 12.3175C29.5178 13.2728 29.3475 14.2234 28.9904 15.1099C28.6333 15.9964 28.097 16.7996 27.4152 17.4693", stroke="white", stroke-opacity="0.75", stroke-width="2.08333", stroke-linecap="round", stroke-linejoin="round")
                      defs
                        clipPath(id="clip0_25_1073")
                          rect(width="33.3333", height="33.3333", fill="white", transform="translate(0.332031)")
                img.card-image(src=product.image[0] || 'default-image.jpg', alt='Product Image', style='width: 333.125px; height: 272.906px; margin-top: 84.56px; margin-left: auto; margin-right: auto; display: block;')
                h4.display-5.mx-4 #{product.name}
                p.card-price.mx-4 #{product.price}

                ul
                  each spec in product.specifications
                    li= `${spec.name}: ${spec.value}`

                button.card-button(type='button', style='margin-left:auto;margin-right:auto;background: linear-gradient(110deg, rgba(0, 128, 255, 0.99) 21.02%, rgba(0, 64, 128, 0.90) 73.51%); width: 371.562px; height: 49.969px; border-radius: 34.59px;') Buy Now

//- // Include Bootstrap JS and jQuery (required for Bootstrap functionality)
//- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
//- script(src="//https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
script(src="//https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

