doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Checkout - Quasar
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css')
    link(rel="stylesheet", href="../stylesheet/user/checkoutG.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')
    script(src='https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js')
    script( src='../script/confirmationModal.js' defer)
    script(src='../script/toast.js' defer)
  body
    .container-fluid.checkout-container
      .account-info
        h2 Contact Information
        p
          strong Name:
          |  #{user.name}
        p
          strong Email:
          |  #{user.email}
        
      if user.addresses && user.addresses.length > 0
        .address-selection
          h2 Shipping Address
          each address, index in user.addresses
            .address-item
              if user.shipping_address 
                if user.shipping_address._id==address.id 
                  p.mt-3(style="color: #007d99;") Current Shipping Address is  >> 
                else if user.shipping_address._id!=address.id
                  input.ms-2.me-2#shipping_address(type='checkbox',hx-get="/user/set"  hx-trigger="change"  hx-target="body"  name='shipping_address',  value=address._id)
                  p.me-3.mt-3.ms- set as Shipping address
              else
                input.ms-2.me-2#shipping_address(type='checkbox',hx-get="/user/set"  hx-trigger="change"  hx-target="body"  name='shipping_address',  value=address._id)
                p.ms-2.me-3.mt-3.font-italic set as Shipping address
              label.ms-2.me-2.text-italic(for=`address-${index}`)   #{address.address}, #{address.city}, #{address.state}, #{address.zip_code}, #{address.country}
        .address-selection
          h2 Billing Address
          each address, index in user.addresses
            .address-item
              if user.billing_address 
                if user.billing_address._id ==address.id
                  p.mt-3(style="color: #007d99;") Current Billing Address is  >>
                else
                  input.ms-2.me-2#billing_address(hx-get="/user/set" type="checkbox" hx-trigger="change" name='billing_address' hx-target="body" value=`${address._id}`).ms-3
                  p.ms-2.me-3.mt-3.font-italic set as Billing address
              else
                //input#billing_address(type="checkbox" name='billing_address' value=`${address._id}`).ms-3
                input#billing_address(hx-get="/user/set" type="checkbox" hx-trigger="change" name='billing_address' hx-target="body" value=`${address._id}`).ms-3
                label(for='billing_address').ms-1.me-2 Billing Address
              label.ms-2.me-2(for=`address-${index}`)  #{address.address}, #{address.city}, #{address.state}, #{address.zip_code}, #{address.country}
      else
        .address-form#checkoutAddres
          h2 Shipping Information
          form#shipping(action='/user/address/new', method='post', enctype='application/x-www-form-urlencoded')
            label(for='address') Address:
            input(type='text', id='address', name='address', oninput='validateAddress()' )
            span.mt-5#addressError
            label(for='country') Country:
            select(name='country', id='country' data-country=countries)
              option(value='') Please select a Country
              each country in countries
                option(value=country.name)= country.name
            span#countryError
            label(for='state') State:
            select(type='text', id='state', name='state', required)
              option(value='') Please select a region, state or province.
            span#stateError
            label(for='city') City:
            input(type='text', id='city', name='city',oninput='validateCity()' required)
            span#cityError
            label(for='zip_code') Zip Code:
            input(type='text',oninput='validateZip()' id='zip', name='zip_code', required)
            span#zipError
            button#saveAddress(type='submit') Save Address




          script.
            const countrySelect = document.getElementById('country');
            const stateSelect = document.getElementById('state');
            const countryData = countrySelect.getAttribute('data-country');
            const countries = JSON.parse(countryData);

            countrySelect.addEventListener('change', () => {
              stateSelect.innerHTML = '';
              const selectedCountry = countrySelect.value;
              const states = countries.find(country => country.name === selectedCountry).states;
              states.forEach(state => {
                const option = document.createElement('option');
                option.value = state;
                option.textContent = state;
                stateSelect.appendChild(option);
              });
            });

            const empty = document.createElement('option');
            empty.value = ''
            empty.textContent = 'Select a Country'
            countrySelect.appendChild(empty);


      .payment-method-inline
        h3 Select Payment Method
        label
          input(type='radio', name='payment-inline', value='cod')
          |  Cash on Delivery
          |
          small#codMsg
        label
          if walletBalance < (cart.billTotal + (0.05 * cart.billTotal) + shippingTotal).toFixed(2)
           input( type='radio', name='payment-inline', value='wallet' disabled )
           small(style='color:grey;') Wallet balance is low
           small.ms-2(style='color:grey;')
            | ( $#{walletBalance} )
           small.ms-2(style='color:grey;')
            | you need $#{(totalAmount - walletBalance).toFixed(2)} more
          else
           input(type='radio', name='payment-inline', value='wallet' )
           |  Wallet
        label
           input(type='radio', name='payment-inline', value='razorpay')
           |   razorpay 

        #wallet_details(style='display: none;')
          p Pay from Wallet.
          p $#{walletBalance} left
          #result-message
        #cod_details(style='display: none;')
          p Pay with cash upon delivery.
        #razorpay_details(style='display: none;')
          p paywith razorpay
        #paymentError.text-warning.ms-2
          
    .right
      .order-summary
        h2 Order Summary
        table
          thead
            tr
              th Product
              th Quantity
              th Price
              th Total
          tbody
            each product in products
              tr
                td= product.name
                td= product.quantity
                td $#{product.productPrice.toFixed(2)}
                td $#{(product.productPrice * product.quantity).toFixed(2)}
          tfoot
            tr
              td(colspan='3', align='right') Subtotal:
              td $#{cart.billTotal.toFixed(2)}
            tr
              td(colspan='3', align='right') Shipping:
              td
                if shippingTotal == 0
                  | Free shipping
                else
                  | $#{shippingTotal.toFixed(2)}
            tr
              td(colspan='3', align='right') Tax:
              - const tax=(0.05 * cart.billTotal).toFixed(2)
              td $#{tax}
            tr
              td(colspan='3', align='right') Discount:
              td#discountAmount $0.00
            tr
              td(colspan='3', align='right') Total:
              td#totalAmount $#{totalAmount.toFixed(2)}
        .coupon-section
          h2 Apply Coupon
          .coupon-input-group
            .d-flex
              input#couponCode(type='text' placeholder='Enter coupon code')
              H1#applyCouponBtn.text-success.mt-2.bi.bi-check(type='button')
              H1#removeCouponBtn.text-danger.mt-2.bi.bi-x(type='button')
              H1#clearCouponBtn.text-warning.mt-2.bi.bi-dash(type='button' )
          .coupon-display
            span#appliedCoupon
          span#couponError

      .checkout-actions
        form.checkoutForm(action='', )
          input#userInput(type='hidden', name='user', value=user)
          input#CART(type='hidden', name='cart', value=cart)
          input#ID(type='hidden', name='cart', value=CLIENT_ID)
          input#couponData(type='hidden', name='couponData',)
          input#totalAmountInput(type='hidden', name='total_amount', value=(cart.billTotal + (0.05 * cart.billTotal) + shippingTotal).toFixed(2))
          button.btn.btn-primary#placeOrderBtn(type='submit') Place Order
        a.btn.btn-secondary(href='/cart') Back to Cart
        span#payment_method_Error
        span#alerts

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js')
  script(src='../script/user/coupon.js')
  script(src='https://checkout.razorpay.com/v1/checkout.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js')
  //- script(src='../script/user/confirmLogout.js')
  script(src="../../script/user/addAddress.js")
  script(defer src='https://unpkg.com/htmx.org@2.0.0', integrity='sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw', crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
  script(src='../script/user/checkoutG.js')
  script(src='https://cdnjs.clouflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js')
  script.
    let address = document.getElementById('userInput').value.addresses;
    let shipping = document.getElementById('userInput').value;
    shipping=JSON.parse(shipping)
   console.log(`shipinni is ${shipping}`) 
    if (shipping.shipping_address === undefined) {
     console.log(`is undefined`) 
        document.getElementById('placeOrderBtn').disabled = true;
    }
    
    document.addEventListener('DOMContentLoaded', () => {
      
      })

