doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Checkout - Quasar
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
    link(rel="stylesheet", href="../stylesheet/user/checkoutG.css")
  body
    .container-fluid.checkout-container
      .account-info
        h2 Contact Information
        p
          strong Name:
          |  #{user.name}
        p
          strong Email:
          |  #{user.email}
        
      if user.addresses && user.addresses.length > 0
        .address-selection
          h2 Select Shipping Address
          each address, index in user.addresses
            .address-item
              if user.shipping_address 
                if user.shipping_address._id==address.id 
                  p.mt-3.ms-3(style="color: #007d99;") Default Shipping Address
                else
                  input.ms-3#shipping_address(type='checkbox',hx-get="/user/set"  hx-trigger="change"  hx-target="body"  name='shipping_address',  value=address._id)
                  p.me-3.mt-3.ms-2 set as Shipping address
              else
                input.ms-3#shipping_address(type='checkbox',hx-get="/user/set"  hx-trigger="change"  hx-target="body"  name='shipping_address',  value=address._id)
                p.me-3.mt-3.ms-2 set as Shipping address
              label(for=`address-${index}`) | #{address.address}, #{address.city}, #{address.state}, #{address.zip_code}, #{address.country}
        .address-selection
          h2 Select Billing Address
          each address, index in user.addresses
            .address-item
              if user.billing_address 
                if user.billing_address._id ==address.id
                  p.mt-3(style="color: #007d99;") Default Billing Address
                else
                  input.ms-2.me-2#billing_address(hx-get="/user/set" type="checkbox" hx-trigger="change" name='billing_address' hx-target="body" value=`${address._id}`).ms-3
                  p.me-3.mt-3 set as Billing address
              else
                //input#billing_address(type="checkbox" name='billing_address' value=`${address._id}`).ms-3
                input#billing_address(hx-get="/user/set" type="checkbox" hx-trigger="change" name='billing_address' hx-target="body" value=`${address._id}`).ms-3
                label(for='billing_address').ms-1.me-2 Billing Address
              label(for=`address-${index}`) | #{address.address}, #{address.city}, #{address.state}, #{address.zip_code}, #{address.country}
      else
        .address-form#checkoutAddres
          h2 Shipping Information
          form#shipping(action='/user/address/new', method='post', enctype='application/x-www-form-urlencoded')
            label(for='address') Address:
            input(type='text', id='address', name='address', oninput='validateAddress()' )
            span.mt-5#addressError
            label(for='country') Country:
            select(name='country', id='country' data-country=countries)
              option(value='') Please select a Country
              each country in countries
                option(value=country.name)= country.name
            span#countryError
            label(for='state') State:
            select(type='text', id='state', name='state', required)
              option(value='') Please select a region, state or province.
            span#stateError
            label(for='city') City:
            input(type='text', id='city', name='city',oninput='validateCity()' required)
            span#cityError
            label(for='zip_code') Zip Code:
            input(type='text',oninput='validateZip()' id='zip', name='zip_code', required)
            span#zipError
            button#saveAddress(type='submit') Save Address




          script.
            const countrySelect = document.getElementById('country');
            const stateSelect = document.getElementById('state');
            const countryData = countrySelect.getAttribute('data-country');
            const countries = JSON.parse(countryData);

            countrySelect.addEventListener('change', () => {
              stateSelect.innerHTML = '';
              const selectedCountry = countrySelect.value;
              const states = countries.find(country => country.name === selectedCountry).states;
              states.forEach(state => {
                const option = document.createElement('option');
                option.value = state;
                option.textContent = state;
                stateSelect.appendChild(option);
              });
            });

            const empty = document.createElement('option');
            empty.value = ''
            empty.textContent = 'Select a Country'
            countrySelect.appendChild(empty);


      .payment-section
        h2 Payment Information
        label(for='payment_method') Payment Method:
        select#payment_method(name='payment_method', required)
          option(value='') Select a payment method
          option(value='paypal') PayPal
          option(value='cod') Cash on Delivery
          option(value='razorpay') Razorpay
          
        #paypal_details(style='display: none;')
          p Pay securely with PayPal.
          #paypal-button-container
          #result-message
        #cod_details(style='display: none;')
          p Pay with cash upon delivery.
        #razorpay_details(style='display: none;')
          label(for='razorpay_phone') Phone Number:
          input#razorpay_phone(type='text', name='razorpay_phone', required)
          label(for='razorpay_email') Email Address:
          input#razorpay_email(type='email', name='razorpay_email', required)
        #paymentError.text-warning.ms-2
    .right
      .order-summary
        h2 Order Summary
        table
          thead
            tr
              th Product
              th Quantity
              th Price
              th Total
          tbody
            each product in products
              tr
                td= product.name
                td= product.quantity
                td $#{product.productPrice.toFixed(2)}
                td $#{(product.productPrice * product.quantity).toFixed(2)}
          tfoot
            tr
              td(colspan='3', align='right') Subtotal:
              td $#{cart.billTotal.toFixed(2)}
            tr
              td(colspan='3', align='right') Shipping:
              td
                if shippingTotal == 0
                  | Free shipping
                else
                  | $#{shippingTotal.toFixed(2)}
            tr
              td(colspan='3', align='right') Tax:
              td $#{(0.05 * cart.billTotal).toFixed(2)}
            tr
              td(colspan='3', align='right') Total:
              td $#{(cart.billTotal + (0.05 * cart.billTotal) + shippingTotal).toFixed(2)}
          .checkout-actions
            form.checkoutForm(action='/order/complete', method='post')
              input#userInput(type='hidden', name='user', value=user)
              input(type='hidden', name='cart', value=cart)
              input(type='hidden', name='total_amount', value=(cart.billTotal + (0.05 * cart.billTotal) + shippingTotal).toFixed(2))
              button.btn.btn-primary#placeOrderBtn(type='submit') Place Order
            a.btn.btn-secondary(href='/cart') Back to Cart
            span#payment_method_Error

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js')
  //script(src=`https://www.paypal.com/sdk/js?client-id=${CLIENT_ID}&paypal-button-container`)
  script(src=`https://www.paypal.com/sdk/js?client-id=${CLIENT_ID}&components=buttons`)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js')
  //- script(src='../script/user/confirmLogout.js')
  script(src="../../script/user/addAddress.js")
  script(defer src='https://unpkg.com/htmx.org@2.0.0', integrity='sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw', crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
  script(src='../script/user/checkoutG.js')
  script(src='../script/user/paypal.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js')
