include ../partials/navbar
link(rel='stylesheet' href='../../../stylesheet/user/addAddress.css')
link(rel='stylesheet' href='../../../stylesheet/navbar.css')
link(rel="stylesheet", href="../../../stylesheet/user/profile.css")
script(src='../../../script/toast.js' defer)
script( src='../../../script/confirmationModal.js' defer)
script(defer src='https://code.jquery.com/jquery-3.6.0.min.js')

style.
  .fieldset{
    width:862px;
    }
  .form-address{
    width:66vw;
    }

.container
  h1.page-title My Orders

  .account-layout
    .account-menu
      ul
        li: a(href='/user/profile') My Account
        li: a(href='/user/profile') My Wishlist
        li: a(href='') Account Information
        li: a(href='/user/address/new') Address Book
        li: a(href='/user/order', class='active') My Orders
        li: a(href='/user/wallet') My Wallet
    .main-content
      form#form-validate(action='/user/address/edit', method='post', enctype='application/x-www-form-urlencoded')
        h2 Edit Address
        .form-group
          label(for='address') Home Address
          input#address(type='text', name='address', placeholder='Enter your street address', value=address.address, oninput='validateAddress()')
          span#addressError.error-message

        .form-group
          label(for='country') Country
          select#country(name="country", title='Country', oninput='validateCountry()', data-country=countries, data-validate="{'validate-select':true}", aria-required='true')
            option(value='') Select a Country
            each country in countries
              if country.name === address.country
                option(value=country.name, selected)= country.name
              else
                option(value=country.name)= country.name
          span#countryError.error-message

        .form-group
          label(for='state' ) State
          select#state(name='state', oninput='validateState()' )
            option(value=address.state) #{address.state} 
          span#stateError.error-message

        .form-group
          label(for='city') City
          input#city(type='text', name='city', placeholder='Enter your city', value=address.city, oninput='validateCity()')
          span#cityError.error-message

        .form-group
          label(for='zip') Zip Code
          input#zip(type='text', name='zip_code', placeholder='Enter your zip code', value=address.zip_code, oninput='validateZip()')
          span#zipError.error-message

        button#updateAddress(type='submit') Save Changes
        input#userInput(type='hidden', name='user', value=user)
        input#addressId(type='hidden', name='addressId', value=address._id)
    script(src="../../../script/user/validateEditAddress.js")
    script.
      $(document).ready(function() {
          var currentUrl = window.location.pathname;
          $('.my-account-menu li a').each(function() {
            var href = $(this).attr('href');
          console.log(`${href}`)
            if (currentUrl === href) {
              $(this).parent('li').css('background', 'linear-gradient(to right, #b71540, #e55039)');

            }
          });
        });
    
      const countrySelect = document.getElementById('country');
      const stateSelect = document.getElementById('state');
      const countryData = countrySelect.getAttribute('data-country');
      const countries = JSON.parse(countryData);

      countrySelect.addEventListener('change', () => {
        stateSelect.innerHTML = '';
        const selectedCountry = countrySelect.value;
        const states = countries.find(country => country.name === selectedCountry).states;
        states.forEach(state => {
          const option = document.createElement('option');
          option.value = state;
          option.textContent = state;
          stateSelect.appendChild(option);
        });
      });

        const empty = document.createElement('option');
        empty.value = ''
        empty.textContent = 'Select a Country'
        countrySelect.appendChild(empty);
