include ../partials/navbar
link(rel="stylesheet", href="../stylesheet/home.css")

main
  section#home.hero
    .hero-content
      h1 Welcome to bookClub
      p Discover your next great read from our vast collection of books.
      a.cta-button(href='/products') Shop Now
  section#products.featured-products
    .container
      h2 Featured Products
      .product-grid
        if products && products.length > 0
          each product in products.slice(0, 4)
            .product-card
              .product-image(onclick=`window.location.href='/products/${product._id}'` style=`background-image: url('${product.image[0]}')`)
              .product-info
                h3= product.name
                p $#{product.price.toFixed(2)}
                button.cta-button(onclick=`handleAddToCart('${product._id}')`) Add to cart
        else
          p.text-center(style='color: gold;') No Featured products

footer
  .container
    p &copy; 2024 bookClub. All rights reserved.

script.
  async function handleAddToCart(productId) {
    try {
      const response = await axios.post(`/cart/add`, {productId: productId});
      if (response.status === 200) {
        window.toast.success('Item added to cart');
        setTimeout(() => {
          window.location.href = "/cart";
        }, 1000);
      } else {
        console.error('Failed to add item to cart:', response.status);
        alert('Failed to add item to cart.');
      }
    } catch (error) {
      console.log(error)
      window.toast.errorMessage('You have to login to proceed further');
    }
  }
