include ../partials/navbar
link(rel='stylesheet' href='../stylesheet/user/profile.css')
link(rel='stylesheet' href='../stylesheet/cropper.css')
.container
  h1.page-title Address Book
  .account-layout
    .account-menu
      ul
        li: a(href='/user/profile') My Account
        li: a(href='/user/wishlist') My Wishlist
        li: a(href='/user/address/new', class='active') Address Book
        li: a(href='/user/order') My Orders
        li: a(href='/user/wallet') My Wallet

    .main-content
      .container-fluid#accContainer
        .card
          .card-header
            .d-flex.align-items-center
              h1.page-title.mb-0 My Account
              img#avatar.ms-3.rounded-circle(src=`${user.avatar}`, alt='Avatar', width='60', height='60')
          .card-body
            .row
              .col-md-6
                h3 Contact Information
                p
                  strong Name: 
                  | #{user.name}
                p
                  strong Email: 
                  | #{user.email}
                .mt-3
                  a.btn.btn-sm.btn-primary(href='/user/profile/edit') Edit
                  a.btn.btn-sm.btn-secondary.ms-2(href='/user/profile/edit') Change Password

            .mt-4
              h3 Default Billing Address
              if user.billing_address
                - address = user.billing_address
                p Address: #{address.address}
                p City: #{address.city}, State: #{address.state}
                p Zip Code: #{address.zip_code}
                p Country: #{address.country}
                a#editBillingAddressBtn.btn.btn-sm.btn-primary.mt-2(href=`/user/address/${address._id}/edit`) Edit Billing Address
              else
                p You have not set a default billing address yet.
                a#addBillingAddressBtn.btn.btn-sm.btn-primary.mt-2(href='/user/address/new') Add Address

            .mt-4
              h3 Default Shipping Address
              if user.shipping_address
                - address = user.shipping_address
                p Address: #{address.address}
                p City: #{address.city}, State: #{address.state}
                p Zip Code: #{address.zip_code}
                p Country: #{address.country}
                a#editShippingAddressBtn.btn.btn-sm.btn-primary.mt-2(href='#') Edit Shipping Address
              else
                p You have not set a default shipping address yet.
                a#addShippingAddressBtn.btn.btn-sm.btn-primary.mt-2(href='#') Add Address

  script(src="../../script/cropper.js")
script.
  // Your existing JavaScript code here
  // (The code for cropImgFunc and removeAddress functions)


  document.addEventListener('DOMContentLoaded', function() {
    const currentUrl = window.location.pathname;
    document.querySelectorAll('.account-menu a').forEach(link => {
      if (link.getAttribute('href') === currentUrl) {
        link.classList.add('active');
      }
    });

    ///////////////////////////////////////////
        async function removeAddress() {
          const addressIdElement = document.getElementById("addressInput");
          const userId = document.getElementById("userInput").value;
          const addressId = addressIdElement.getAttribute('value');
          console.log(`user is ${userId}`);

          try {
            const response = await fetch(`/user/address/${addressId}/remove`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ address: addressId, user: userId }),
            });

            const data = await response.json();

            if (data.success) {
              window.location.href = "/user/profile";
            }
          } catch (error) {
            console.error("Error:", error);
            // Handle errors as needed
          }
        }

